<div class="jumbotron center">
	<p> Like Cattle Egrets that ride on the backs of elephants, egret rides on the back of your Evernote account giving you a bird's eye view of all your notes in a fluid, dynamic view. Whatever your project, whatever your research needs, put an egret on your Evernote and watch your productivity take off.
	</p>
</div>