<div class="jumbotron small">
	<p> This little guy is an egret. They ride on the backs of elephants and get at the best bits that are nagging Dumbo.</p>

	<p>That's essentially what we've built here - a tool that gets at the best bits.</p>

	<p>If you're like us you have a ton of Notebooks in Evernote and suspect that there's great nuggets hidden across all of them. Search is good but it's not very visual.</p>

	<p>Egret solves that.</p>
	
	<p>A single search calls all matching notes to the top of your Evernote - tiled, dynamic, and viewable on any device. Think a note shouldn't belong in the search? Be higher priority? Include a fringe topic? Egret evolves with you over time.</p>

	<p>Journalists, authors, engineers, chefs, and entrepreneurs agree...

		Egret | Evernote works better with wings
	</p>

		<p> 	
			<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn_lg" %> 
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn_lg" %> 
		</p>
	</p>
</div>