<h1>Get Egret</h1>
<p>We are working on our One Month Rails project!</p>
<div class="jumbotron">
	<p> This little guy is an egret. They ride on the backs of elephants and get at the best bits bugging Dumbo. 

		That's essentially what we've built here - a tool for Evernote that gets at the best bits. 

		Journalists, authors, engineers, chefs, and entrepreneurs all agree...

		Egret | Evernote works better with wings
	</p>
</div>