<h1>Get egret</h1>
<p>We are working on our One Month Rails project!</p>
<div class="jumbotron">
	<p> Like Cattle Egrets that ride on the backs of elephants, egret rides on the back of your Evernote account giving you a bird's eye view of all your notes in a fluid, dynamic view. Whatever your project, whatever your research needs, put an egret on your Evernote and watch your productivity take off. 

		The bird's eye view of your life's work | egret
	</p>
</div>